@page
@model RegisterConfirmationModel
@{
   ViewData["Title"] = "Confirmar Registo";
}

<h1>@ViewData["Title"]</h1>
@{

   <p>
      Foi enviado um email para o seu programa de email, para validar o seu endereço.
      <br />
      Por favor, clique no <i>link</i>.<br />
      Se não receber a mensagem, verifique na sua pasta de <i>spam</i>.<br />
      Obrigado.
   </p>
    
}

